*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100vw;
}

a{
    font-size: 30px;
    color: #fff;
}

a:hover{
    transition: 0.5s;
    color: blue;
}

#img{
    display: flex;
    flex-direction: row;
}

#ninjaTurtles{
    margin-left: 100px;
    width: 500px;
    height: 500px;
}

#nerd{
    margin-left: 100px;
    width: 500px;
    height: 500px;
}

#gigachad{
    margin-left: 100px;
    width: 500px;
    height: 500px;
}

#butInicio{
    text-align: center;
    margin-top: 45vh;
    scale: 5;
    padding: 15px;
    border-radius: 10px;
    border-color: white;
    background-color: hsl(0, 0%, 0%);
    color: #fff;
}